<div class="jumbotron1">
  <div class="containerlogin">
    <h3 class="text-center">Please Log In</h3>
  </div>
</div>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>



    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>

<style>
  .field {
    color: white;
  }
</style>