/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub 'admin'
 */
.one {
    background-color: #382c29;
    opacity: 0.8;
    border-style: solid;
    border-width: 3px;
    border-color: #6A5750;
    color: white;
    font-family: inherit;
}
.two {
    background-color: #A45330;
    border-color: #6A5750;
    border-style: solid;
    border-width: 3px;
}

.login {
    background-color: #8B0000;
    border-color: #6A5750;
    color: white;
}

.logged_in_nav {
    background-color: #173e43;
    border-style: solid;
    border-width: 3px;
    border-color:#6A5750;
}

.logout {
    background-color: #8B0000;
}


.home {
    background-color: #856046;
}

.box {
    background-color: whitesmoke;
    width: 25%;
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-color: #6A5750;
}

.container-fluid {
    width: 100%;
    background-color: #382c29;
    opacity: 0.8;
    border-style: solid;
    border-width: 3px;
    border-color: #6A5750;
}

.gallery_slideshow {
    opacity: 0.9;
    width: 50%;
    top: 50%;
    left: 25%;
    position: relative;
}

/*body {*/
/*background-color: #856046;*/
/*font-family: inherit;*/
/*color:black;*/
/*}*/


h1, h2, h3 {
    font: 200 50px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0 #ededed, 4px 4px 0 rgba(0,0,0,0.15);
}

h5 {
    color: white;
}

h2 {
    font-weight: bold;
}

/*---Link---*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C7A693;
}

.two li a {
    color:white;
}

.logged_in_nav li a {
    color: white;
}


li {
    display: inline-block;
    float: left;
    list-style-type: square;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}


li a:hover {
    font-weight: bold;
    color: black;
    background-color: #e0e0eb;
    opacity: 0.6;
}

a:hover {
    /*font-weight: bold;*/
    background-color: #e0e0eb;
    color:black;
}


a:link {
    text-decoration:none;
    color:black;
}

/*---Visited Link---*/
a:visited {
    font-weight: bold;
    color:black;
    background-color: lightgray;
}

body {
    background: url('wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}


p, ol, ul, td {
    font-size: 13px;
    line-height: 18px;
}
/* this color wont work because dark in the table means black */
th {
    padding: 0 5px 7px;
    border: 5px solid #C7A693;
}

.thead1{
    background-color: #382c29;
    opacity: 0.8;
    border-style: solid;
    border-width: 3px;

    color: white;
}

.topcontainerbody{
    padding: 0 22px 22px 5px;
    margin: 10px;
}

.rubybodycontainer{
    padding: 5px 80px 22px 80px;
    margin-left: 33px;
    margin-right: 33px;
}

label{
    /*color: #ffff;*/
    font-weight: bold;
}

field{
    color: black;
}

#new{
    background-color: #856046;
}

.embed-responsive{
    max-height: 20%;
}

#login{
    float: right;
}

.jumbotron1{
    background-image: url("https://i.imgur.com/eOww5fh.gif");
    background-size: cover;
    background-repeat:no-repeat;
    height: 400px;
}
.container1{
    margin-left: 135px;
}
.containerlogin{
    padding-top: 40px;
}
.buttoncup{
    background-color: transparent;
    background-image: url("https://i.imgur.com/Ux22Tv8.png");
    height: 90px;
    width: 100px;
    color: white;
    padding-left: 4px;
}
