<p id="notice"><%= notice %></p>

<h3>Menu</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Remaining Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="image">
          <%= image_tag(product.image_url, class: 'list_image', :height => 30) %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.remaining_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button id="new">New Product</button>'.html_safe, new_product_path %>


<p id="notice"><%= notice %></p>